html{
    overflow-x: hidden;
}

.carousel-caption {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    bottom: 20px;
    left: auto;
    text-align: right;
}

.card:hover{
    transform: translateY(-5px);
    transition: all 0.2s ease-in-out;
    background-color:rgb(226, 220, 209);
    -webkit-transform: translateX(-5px);
    -moz-transform: translateX(-5px);
    -ms-transform: translateX(-5px);
    -o-transform: translateX(-5px);
}